p{
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    margin: 5px;
}
button{
    padding: 20px;
    margin: 50px;
}
img{
    width: 300px;
}
#content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#img-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}