{% extends "base.html" %}
{% block content %}Home - Flask{% endblock %}
{% block body %}
    <h1>Welcome</h1>
    <form method="POST">
        <label for="name">Enter your name:</label>
        <input type="text" name="name" placeholder="name">
        <br>
        <input type="submit" value="Submit">
    </form>
<br>
    <image src="https://www.rmg.co.uk/sites/default/files/styles/full_width_1440/public/Color-Full%20Moon%20%C2%A9%20Nicolas%20Lefaudeux.jpg.webp?itok=ghLyCuO0" alt="Moon">
{% endblock %}